/* RIBBON */
.ribbon {  
	color: #fff;
	margin: 30px 0 50px;
	position: relative;
	background: #FF993D;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0px 1px 3px rgba(0,0,0,.2);
	padding: 10px 15px;
	clear: both;
}
 
div.left_ribbon{
	color: #000;
	margin-left: -10px;
	float: left;
}
 
div.left_ribbon h2{
	margin: 0 12px;
}
 
div.left_ribbon::before{
	display: block;
	width: 10px;
	height: 0px;
	position: absolute;
	bottom: -10px;
	left: 0px;
	content: "";
	border-bottom: 10px solid transparent;
	border-right: 10px solid #000;
}
 
div.left_ribbon::after{
    /* display: block; */
    /* width: 6px; */
    /* height: 44px; */
    /* position: absolute; */
    /* bottom: 3px; */
    /* right: -1px; */
    /* content: ""; */
    /* border: 1px solid rgba(0,0,0,.3); */
    /* background: rgb(0, 80, 116); */
	/* content: ' '; */
	/* position: absolute; */
	/* width: 30px; */
	/* height: 0; */
	/* left: 100px; */
	/* top: 12px; */
	/* border-width: 20px 10px; */
	/* border-style: solid; */
	/* border-color: #999 #999 #999 transparent; */
}


div.both_ribbon{
	text-align: center;
	color: #000;
	padding: 10px 9px 10px 10px;
	margin-left: -10px;
	margin-right: -10px;
}
 
div.both_ribbon::before{
	display: block;
	width: 10px;
	height: 0px;
	position: absolute;
	bottom: -10px;
	left: -2px;
	content: "";
	border-bottom: 10px solid transparent;
	border-right: 10px solid #000;
}
 
div.both_ribbon::after{
	display: block;
	width: 10px;
	height: 0px;
	position: absolute;
	bottom: -10px;
	right: -2px;
	content: "";
	border-bottom: 10px solid transparent;
	border-left: 10px solid #000;
  }
